
h2 {
	text-align: center;
}

img {

	margin: auto;
}

.pics {
	position: relative;
}

#container{
	margin: auto;
	

}

body {
	margin: auto;
	max-width: 960px;
}

#dragon {
	width: 100%;
	position: relative;
	top: 0px;
	left: 0px;
	z-index: 1;

}


#fleeing {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 0;
}

